/*CSS Reset*/
body, header, main, nav, img, footer, h1, h2, ul, aside, form{
    margin: 0;
    padding: 0;

}

/*Style Rules Across All Viewports*/


img, video, iframe {
   max-width: 100%;
   max-height: 100%;
   display: block;
}

nav {
    background-color: #86765E;
}

.article-preview p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Media Query for Mobile Viewport and Property Cascading*/
    .mobile {
        display: block;
        font-family: "RocknRoll One", sans-serif;
    }

    .tab-desk {
        display: none;
    }

    /*Style Rules for Mobile Header and Body Area*/
    .mobile h1 {
        display: flex;
        font-size: 1.5em;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-style: italic;
        gap: 1em;
        padding: 1em;

        /*Sticky Position, had to use fixed because the actual sticky property would not scroll past h4 element.*/
        background-color: #f4dfcc;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .mobile h4 {
        font-size: 1em;
        text-align: center;
        margin-top: 5em;
    }

    .mobile-icon {
        width: 15%;
        height: auto;
    }


    body {
       background: linear-gradient(#f4dfcc, #dad6cc);
   }

    /*Style Rules for Mobile Navigation Area*/
    .mobile-nav {
        background-color: #86765E;
    }

    .mobile-nav a {
        display: block;
        color: black;
        text-align: center;
        font-size: 1.5em;
        text-decoration: none;
        padding: 1em;
        font-family: "RocknRoll One", sans-serif;
        border-top: 1px dotted #CCAC7DFF;
    }

    .mobile-nav a:last-child {
        border-bottom: 1px dotted #CCAC7DFF;
    }

    .mobile-nav a.nav-menu-icon {
        display: block;
        color: black;
        padding: 1em;
        position: absolute;
        right: 0;
        top: 0;
        border-bottom: none;
    }

    .nav-menu-icon {
        color: black;
        font-size: 3em;
        z-index: 20;
    }

    #nav-links-mobile {
        display: none;
    }

    /*Style Rules for Mobile Homepage Classes*/
    .home-content {
        font-family: "Noto Serif", sans-serif;
        font-size: 1em;
        padding: 1em;
        text-align: center;
    }

    .welcome-information {
        display: block;
    }

    .welcome-information h1, .extra-information h2 {
        font-family: "RocknRoll One", sans-serif;
    }

    .extra-information li {
        list-style-type: none;
    }

    .extra-information a{
        text-decoration: underline;
        color: inherit;
    }

    /*Style Rules for Mobile Article Selection Classes Articles Page Classes*/
    .article-list {
        display: block;
        width: 75%;
        margin: 0 auto;
    }

    .article-list a{
        text-decoration: none;
        color: black;
    }

    .article-list article {
        border-bottom: 1px solid black;
        margin-bottom: 1em;
    }

    /*A lot of button mashing to get the mobile article list to have a top and bottom border*/
    .article-list a:first-of-type article{
        border-top: 1px solid black;
    }

    .article-preview {
        padding: 1em;
        overflow: auto;
    }

    .article-preview img {
        width: 0;
        height: 0;
    }

    .article-preview h2 {
        font-family: "RocknRoll One", sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0 2em;
        text-align: center;
    }

    .article-preview p {
        font-family: "Noto Serif", sans-serif;
        font-size: 1em;
        margin: 1em;
        -webkit-line-clamp: 4;
    }

    /*Style rules for article one on mobile view port.*/
    #article-one, #article-one-resources p {
        font-family: "Noto Serif", sans-serif;
        font-size: 1.15em;
        margin: 1.5em;
        line-height: 1.5em;
        text-align: justify;
        display: inline-block;
    }

    #article-one img, #article-one-resources iframe {
        width: 85%;
        margin: 0 auto;
        display: block;
    }

    #article-one p, #article-one-resources {
        padding: 1.5em;
    }

    #article-one h1{
        border-top: 1px solid black;
    }

    #article-one h1, #article-one-resources h3{
        font-weight: bold;
        font-family: "RocknRoll One", sans-serif;
        padding: 1em;
        text-align: center;
    }

    #article-one-resources iframe{
        height: 20vh;
        padding: 1em;
    }

     #article-one-resources{
        padding-bottom: 1em;
    }


/*Style Rules for Mobile About Page Classes*/

    .about-me, .contact {
        display: block;
        text-align: center;
        font-family: "Noto Serif", sans-serif;
        padding: .75em;
    }

    .about-me h2, .contact h2,  .form-grid h2 {
        font-family: "RocknRoll One", sans-serif;
        text-align: center;
    }

    .about-me img {
        width: 80%;
        margin: 2em auto;
    }

    .contact a{
        text-decoration: none;
        color: #86765E;
    }

    /*Style Rules For Question Form*/
    .form-grid {
        display: block;
        gap: 2em;
        width: 80%;
        margin: 2em auto;
        padding: 2em;
    }

    fieldset {
        width: 90%;
        padding: 1em;
    }

    fieldset label, fieldset p {
        display: flex;
        font-size: 1.25em;
        padding-bottom: .5em;
    }

    legend {
        font-family: "RocknRoll One", sans-serif;
        font-weight: bold;
        font-size: 1em;
    }

    /*Aligns labels with radio buttons on form*/
    input[type="radio"]{
        width: 10%;
    }

    input, select, textarea {
       width: 90%;
       padding: 0.5em;
       margin-bottom: 1em;
       box-sizing: border-box;
   }

    .form-submit{
        display: flex;
        background-color: #86765E;
        border: none;
        border-radius: 5px;
        padding: 1em;
        margin-top: 1em;
        font-size: 1em;
        color: black;
        font-weight: bold;
        justify-self: center;
    }

    /*Style Rules for Footer Area*/
    footer {
        text-align: center;
        font-size: 1em;
        background-color: #86765E;
        width: 100%;
        height: 15%; /*Chose to condense the height of the footer*/
        overflow: auto;
    }

    footer a, footer p{
        font-family: "Schibsted Grotesk", sans-serif;
        text-decoration: none;
        color: black;
    }

    footer a:hover {
        color: white;
    }

    footer img {
        display: inline-block;
        width: 1em;
        height: 1em;
    }

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print{

    .mobile, .mobile-nav{
        display: none;
    }
    .tab-desk {
        display: block;
    }

    /*Style Rules for Tablet Header Area*/
    header img {
        width: 100%;
    }

    /*Style Rules for Table Navigation Area*/
    nav ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        font-family: "Schibsted Grotesk", sans-serif;
    }

    nav li {
        display: inline-block;
        font-weight: bold;
        padding: .25em .5em;
    }

    nav li a {
        display: block;
        font-size: 1.25em;
        text-decoration: none;
        padding: 1em;
        color: black;
    }

    /*Style Rules for Tablet Homepage Class*/
    .home-content {
        font-size: 1.5em;
       /* display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;*/
        columns: 2;
        column-gap: 2em;
        column-width: 5rem;
        padding: 1em 0;
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
    }

    .welcome-information h1, .extra-information h2 {
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
    }

    .welcome-information {
        box-sizing: border-box;
        text-align: left;
        grid-column: 1;
        padding: 0 2em;
    }

    .extra-information {
        text-align: center;
        padding: 0 2em 0 0;
        box-sizing: border-box;
       /* grid-column: 2;*/
    }

    .extra-information li {
        list-style-type: none;
        padding: .75em;
    }

    .welcome-information, .extra-information {
        break-inside: avoid;
    }

    /*Style Rules for Tablet Articles Page*/
    .article-list {
        display: inline-block;
        width: 95%;
        margin: 0 1em;
    }

    .article-preview {
        border: 1px solid black;
        margin: 2em auto;
        padding: 0;
    }

    .article-preview h2 {
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
    }

    .article-preview p {
        font-size: 1em;
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
        line-height: 2;
        -webkit-line-clamp: 5;
    }

    .article-preview img {
        float: left;
        display: block;
        width: 45%;
        height: 45%;
        margin-right: 1em;
    }

    /*Style rules for article one for tablet view port*/
    #article-one {
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
        font-size: 1.5em;
        line-height: 1.5;
        margin: 2em;
    }

    #article-one h1{
        border-top: none;
    }

    #article-one-resources iframe{
        height: 30vh;
    }

    #article-one-resources{
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
        font-size: 1.25em;
        margin: .5em;
    }

    /*Style Rules for Tablet Form and About Page Classes*/
    .about-me, .contact {
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
        padding: 1em;
    }

    .about-me h2, .contact h2,  .form-grid h2 {
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
    }

    .about-me{
        margin-top: 1.5em;
    }

    .form-grid {
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
        width: 90%;
    }

    .form-submit {
        grid-column: 1 / span 2;
    }

    fieldset {
        width: 95%;
        border: #86765E 2px solid;
        box-shadow: 3px 3px 3px #86765E;
    }

    fieldset legend, fieldset p{
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/
        font-weight: bold;
        text-align: center;
        font-size: 1.25em;
    }

    input, select, textarea{
        width: 85%;
    }

    input[type="radio"]{
        width: 6%;
    }

    .form-submit {
        background-color: #86765E;
    }

}

/* Media Query for Desktop Viewports */
@media screen and (min-width: 1000px), print{
    .mobile, .mobile-nav{
        display: none;
    }
    .tab-desk {
        display: block;
    }

    /*Style Rules for Average Desktop Navigation Area*/
    nav li a {
        padding: .75em 2.25em;
        font-size: 1.5em;
    }

    nav li:hover {
        background: #CCAC7DFF;
        transform: scale(1.12);
        font-style: italic;
    }

    .home-content {
        margin: 1em;
        column-width: 10rem;
    }

    .home-content a:hover {
        color: white;
    }

    .welcome-information {
        text-align: left;
    }

    .welcome-information img {
        float: left;
        width: 60%;
        padding-right: 1em
    }

    .extra-information {
        text-align: right;
    }

    .extra-information a{
        text-decoration: none;
    }

    /*Style Rules for Average Desktop Articles Page*/
    .article-list{
        margin: 2em;
    }

    .article-preview p{
        line-height: 2;
        font-size: 1.5em;
        -webkit-line-clamp: 8;
    }

    .article-preview img{
        width: 35%;
        height: 35%;
    }

    .article-preview:hover {
        background-color: #9F80787F;
        transform: scale(1.002);
    }

    /*Style rules for article one page desktop view port.*/
    #article-one img {
        float: left;
        width: 30%;
        padding-right: 2em;
    }

    #article-one-resources iframe{
        width: 35%;
        height: 40vh;
        float: left;
        margin: 1em 3em;
    }

    #article-one-resources p{
        float: right;
        text-align: right;
        margin: 2em;
        font-size: 1em;
    }


    /*Style Rules for Average Desktop About Page Classes*/
    .about-me {
        text-align: left;
    }

    .contact a:hover{
        color: black;
    }

    .form-grid h2{
        margin-bottom: 1em;
    }

    .form-grid form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        width: 100%;
    }

    fieldset legend{
        font-size: 1.5em;
    }

    fieldset label {
        font-weight: bold;
    }

    .form-submit {
        grid-column: 1 / span 3;

    }

    .form-submit:hover {
        background-color: #CCAC7DFF;
    }


}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
    .mobile, .mobile-nav{
        display: none;
    }
    .tab-desk {
        display: block;
    }

    /*Style Rules for Large Desktop Header Area*/
    header img {
        height: 60vh;
    }

    /*Style Rules for Large Desktop Navigation Area*/
    nav li a{
        padding: .5em 5em;
        font-size: 1.75em;
    }

    /*Style Rules for Large Desktop Homepage Classes*/
    .welcome-information {
        width: 75%;
    }

    /*Style Rules for Large Desktop Articles Page Classes*/
    .article-preview {
        width: 60%;
    }

    .article-preview p{
        line-height: 2.5;
        -webkit-line-clamp: 10;
    }

    .article-preview img{
        width: 20%;
        height: 20%;
    }

    /*Style Rules for Large Desktop About Page Classes*/


}
