/*CSS Reset*/
body, header, main, nav, img, footer, h1, h2, ul, aside{
    margin: 0;
    padding: 0;
}

/*Style Rules Across All Viewports*/
body {
    background-color: #F6E9E3;
}

img, video {
   max-width: 100%;
   max-height: 100%;
   display: block;
}

nav {
    background-color: #86765E;
}

/*Style Rules for Footer Area*/
footer {
    text-align: center;
    font-size: 1em;
    background-color: #86765E;
    width: 100%;
    height: 15%; /*Chose to condense the height of the footer*/
    overflow: auto;
}

footer a, footer p{
    font-family: "Century Gothic", sans-serif;
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: white;
}

footer img {
    display: inline-block;
    width: 1em;
    height: 1em;
}


/* Media Query for Mobile Viewport and Property Cascading*/
    .mobile {
        display: block;
        font-family: "RocknRoll One", sans-serif;
    }

    .tab-desk {
        display: none;
    }

    /*Style Rules for Mobile Header and Body Area*/
    .mobile h1 {
        display: flex;
        font-size: 1.5em;
        margin-top: 1em;
        margin-left: 3em;
        text-align: center;
        font-style: italic;
    }

    .mobile h4 {
        font-size: 1em;
        text-align: center;
    }

    .mobile-icon {
        width: 15%;
        height: auto;
        padding: 0 .5em;
    }

   /* body {
        background: linear-gradient(#e3ccb4, #dcd3a5);
    }*/

    /*Style Rules for Mobile Navigation Area*/
    .mobile-nav {
        background-color: #86765E;
    }

    .mobile-nav a {
        display: block;
        color: black;
        text-align: center;
        font-size: 1.5em;
        text-decoration: none;
        padding: 1em;
        font-family: "RocknRoll One", sans-serif;
        border-top: 1px dotted #CCAC7DFF;
    }

    .mobile-nav a:last-child {
        border-bottom: 1px dotted #CCAC7DFF;
    }

    .mobile-nav a.nav-menu-icon {
        display: block;
        color: black;
        padding: 1em;
        position: absolute;
        right: 0;
        top: 0;
        border-bottom: none;
    }

    .nav-menu-icon {
        color: black;
        font-size: 3em;
    }

    #nav-links-mobile {
        display: none;
    }

    /*Style Rules for Mobile Homepage Classes*/
    .home-content {
        font-family: "Noto Serif", sans-serif;
        font-size: 1em;
        padding: 1em;
        text-align: center;
    }

    .welcome-information {
        display: block;
    }

    .welcome-information h1, .extra-information h2 {
        font-family: "RocknRoll One", sans-serif;
    }

    .extra-information li {
        list-style-type: none;
    }

    /*Style Rules for Mobile Article Selection Classes
    Articles Page Classes
.article-list {
    display: inline-block;
    width: 95%;
    margin: 2em;
}

.article-list a{
    text-decoration: none;
    color: black;
}

.article-preview:hover {
    background-color: #9F80787F;
    transform: scale(1.002);
}

.article-preview {
    border: 1px solid black;
    overflow: auto;
    margin: 2em auto;
}

.article-preview img {
    float: left;
    width: 30%;
    height: 30%;
    margin-right: 1em;
}
.article-preview h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 2em;

}

.article-preview p {
    font-size: 1em;
    margin: 1em;
}
*/


    /*Style Rules for Mobile About Page Classes*/
    .about-me h2, .contact h2 {
        font-family: "RocknRoll One", sans-serif;
        text-align: center;
    }

    .about-me, .contact {
        display: block;
        text-align: center;
        font-family: "Noto Serif", sans-serif;
    }

    /*Style Rules For Question Form*/
    .form-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        width: 80%;
        margin: 2em auto;
        padding: 2em;
    }

    fieldset {
        width: 90%;
        padding: 1em;
    }

    fieldset label {
        display: flex;
        font-size: 1em;
    }

    /*Aligns labels with radio buttons on form*/
    input[type="radio"]{
        width: 10%;
    }

    input, select, textarea {
       width: 90%;
       padding: 0.5em;
       margin-bottom: 1em;
       box-sizing: border-box;
   }

    .form-submit{
        display: flex;
        background-color: #86765E;
        border: none;
        border-radius: 5px;
        padding: 1em;
        margin-top: 1em;
        font-size: 1em;
        color: black;
        font-weight: bold;
        justify-self: center;
    }

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print{

    .mobile, .mobile-nav{
        display: none;
    }
    .tab-desk {
        display: block;
    }

    /*Style Rules for Tablet Header Area*/
    header img {
        width: 100%;
    }

    /*Style Rules for Table Navigation Area*/
    nav ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        font-family: "Schibsted Grotesk", sans-serif;
    }

    nav li {
        display: inline-block;
        font-weight: bold;
        padding: .25em .5em;
    }

    nav li a {
        display: block;
        font-size: 1.25em;
        text-decoration: none;
        padding: 1em;
        color: black;
    }

    /*Style Rules for Tablet Homepage Class*/
    .home-content {
        font-size: 1.5em;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        padding: 10px;
    }

    .welcome-information {
        box-sizing: border-box;
        text-align: left;
        grid-column: 1;
        padding: 0 2em;
    }

    .extra-information {
        text-align: center;
        padding: 0 2em 0 0;
        box-sizing: border-box;
        grid-column: 2;
    }

    .extra-information li {
        list-style-type: none;
        padding: .75em;
    }



    /*Style Rules for Table About Page Classes*/
    .about-me h2, .contact h2 {
        font-family: "Schibsted Grotesk", sans-serif; /*Change*/

    }

    .form-submit {
        grid-column: 1 / span 2;
        padding: 1em;
    }



}

/* Media Query for Desktop Viewports */
@media screen and (min-width: 1000px), print{
    .mobile, .mobile-nav{
        display: none;
    }
    .tab-desk {
        display: block;
    }

    /*Style Rules for Average Desktop Navigation Area*/
    nav li a {
        padding: .75em 2.25em;
        font-size: 1.5em;
    }

    nav li:hover {
        background: #CCAC7DFF;
        transform: scale(1.12);
        font-style: italic;
    }

    .home-content {
        margin: 1em;
    }

    .welcome-information {
        text-align: left;
    }

    .welcome-information img {
        float: left;
        padding-right: 1em
    }

    .extra-information {
        text-align: right;
    }

    /*Style Rules for Average Desktop About Page Classes*/
    .contact a:hover{
        color: black;
    }

    .form-submit:hover {
        background-color: #CCAC7DFF;
    }

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
    .mobile, .mobile-nav{
        display: none;
    }
    .tab-desk {
        display: block;
    }

    /*Style Rules for Large Desktop Header Area*/
    header img {
        height: 60vh;
    }

    /*Style Rules for Large Desktop Navigation Area*/
    nav li a{
        padding: .5em 5em;
        font-size: 1.75em;
    }

    /*Style Rules for Large Desktop Homepage Classes*/
    .welcome-information {
        width: 75%;
    }

    /*Style Rules for Large Desktop About Page Classes*/


}
